.my-footer {
    background-color: #264d81;
}

.my-footer .card-deck .card {
    margin: 0px;
}
.my-footer .card-deck {
    margin: 0px;
}
.my-footer .card {
    background-color: #264d81;
    text-align: center;
}

.my-footer .card .link {
    color: #fff;
    text-decoration: underline;
}