.bottom-icon-whatsapp {
    width: 40px;
    height: 40px;
    background-color: #4dc247;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-image: url(../../assets/img/icone-whatsapp-fixo.png);
}