.negrito {
    font-weight: bold;
}
/*Colocar isso tudo num @media, para ele em tela cheia e colocar uma opção para tamanho de mobile   */
.flex {
    display: flex;
}

.samsung4070 {
    background-image: url('https://www.santarosapaper.com.br/media/wysiwyg/impressoras/Samsung_SL-M4070FR.jpg');
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    margin-left: 1rem;
    margin-right: 1rem;
}